<h3 style="text-align:center;">นักศึกษา</h3>


     <form asp-action="saveform"asp-controller="StudentController"method="get">
            <div class="form-group card-body card" >
            <p>ตรวจสอบสถานะของนักศึกษา</p>
            <div class="btn-group-toggle" data-toggle="buttons"></div>
            <button type="button" class="btn btn-primary btn-sm">Check</button>
            <p>แก้ไขประวัติส่วนตัว</p>
            <button type="button" class="btn btn-primary btn-sm">Edit</button>

            </div>
    </form>