<h3>เลือก อ.ที่ปรึกษา </h3>
<br><br><br>
<form asp-action="Detail" name="myform" method="POST">
    <div class="form-group">
        <span>ชื่อเรื่องวิจัย</span><input class="form-control" type="text" name="idstudent" value="">
        <span>แนบฟอร์ม CS1 </span>
        <input class="form-control" type="file" name="file" id="">
        </form>

    </div>
<button type="button" class="btn btn-success">Success</button>