
@model FormCs1Model 
<style>
    .form-check {
        display: inline;
    }
</style>
<h3 style="text-align:center;"><b>แบบฟอร์มยืนหัวข้องานวิจัยทางเทคโนโลยีสารสนเทศ <br>คณะวิทยาศาสตร์ มหาวิทยาลัยราชภัฎจันทรเกษม</h3>
<div class="card-body card ">
    <form asp-action="SaveCs1" method="get">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">ชื่อ</label>
                <input type="text" asp-for="name" class="form-control" name="name" placeholder="ชื่อ">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">นามสกุล</label>
                <input type="text" asp-for="lastname" class="form-control" name="lastname" placeholder="นามสกุล">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="inputAddress">รหัสนักศึกษา</label>
                <input type="text" class="form-control "asp-for="idstudent" name="idstudent" placeholder="รหัสนักศึกษา">
            </div>
            <div class="form-group col-lg-6" style="display:inline-block;padding-top:3%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sector"id="gridCheck"value="ภาคในเวลา">
                    <label class="form-check-label" for="gridCheck">
                        ภาคในเวลา
                    </label>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sector"id="gridCheck"value="ภาคนอกเวลา">
                    <label class="form-check-label" for="gridCheck">
                        ภาคนอกเวลา
                    </label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="inputAddress2">ชื่อหัวข้อที่นำเสนอ</label>
                <input type="text" class="form-control"asp-for="title" placeholder="กรุณาใส่ชื่อหัวข้อ">
            </div>
            <div class="form-group col-lg-6">
                <label for="inputAddress2">ชื่อหัวข้อที่นำเสนอภาษาอังกฤษ</label>
                <input type="text" class="form-control" asp-for="titleEng" placeholder="กรุณาใส่ชื่อหัวข้อภาษาอังกฤษ">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress2">ความเป็นมาและความสำคัญ</label>
            <textarea class="form-control"asp-for="importance" aria-label="With textarea" placeholder="กรุณาใส่ความเป็นมาและความสำคัญ"></textarea>

        </div>
        <div class="form-group">
            <label for="inputAddress2">วัตถุประสงค์</label>
            <textarea class="form-control"asp-for="objective" aria-label="With textarea" placeholder="กรุณาใส่วัตถุประสงค์"></textarea>

        </div>
        <div class="form-group">
            <label for="inputAddress2">หลักการทถษฏีและเหตุผล</label>
            <textarea class="form-control" asp-for="reasoning"id="With textarea"  placeholder="กรุณาใส่หลักการทฤษฏีและเหตุผล"></textarea>

        </div>
        <label for="inputAddress2">ระยะเวลาดำเนินการ</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"asp-for="timeimage" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">กรุณาใส่แผนภาพGantChart หรือไฟล์.CSV</label>
        </div>
        <div class="form-group">
            <label for="inputAddress2">แผนการดำเนินงาน ขอบเขตการศึกษา</label>
            <textarea class="form-control"asp-for="scope" aria-label="With textarea" placeholder="กรุณาใส่แผนการดำเนินงาน และขอบเขตการศึกษา"></textarea>

        </div>



        <button type="submit" class="btn btn-info btn-lg btn-block" style="color:white;">บันทึกฟอร์ม CS1</button>
    </form>
    <a href="../Print/Index"target="_blank">Print</a>
    <p>@ViewBag.showsession</p>
</div>
<br>


