@{ ViewData["Title"] = "Home Page"; }

<center>
    <h1 class="display-4">เข้าสู่ระบบ</h1>
</center>


<form>
    <div class="form-group ">
        <label for="exampleInputEmail1">รหัสนักศึกษา</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">กรุณากรอกรหัสนักศึกษา.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">พาสเวิดร์</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>