@model LoginRegisterModel
@{ ViewData["Title"] = "คุณไม่มีสิทธิ์ ในการเข้าถึงข้อมูลต่อไปนี้";}
    <style>
    h1{
        color: red;
    }
    </style>
<h1>@ViewData["Title"]</h1>

<p>ขออภัยคุณไม่มีสิทธ์เข้าถึงข้อมูลต่อไปนี้ ผู้มีสิทธ์เฉพาะอาจารย์ในสาขาวิทยาการคอมพิวเตอร์เท่านั้น.</p>
