
@{
    ViewData["Title"] = "index";
    
}
    <style>
        body {
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        }
    </style>
<h2 style="text-align:center; color:white;">เช็คสถานะการรับของอาจารย์ที่ปรึกษา</h2>
<div class="row"style="padding-top:50px;">

    <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://pickaface.net/assets/images/slides/slide2.png" class="card-img" alt="..."asp-append-version="true">
            </div>
            <div class="col-md-8">
                <div class="card-body" style=" position:absolute;bottom:70px;left:50px;">
                    
                    <p>ชื่ออาจารย์ :@ViewBag.idteacher</p>
                    <p>ความถนัดพิเศษ : @ViewBag.skill </p>
                    <p>สถานะการตอบรับ : @if(@ViewBag.status >0)
                    { <p>Pass</p>  }
                    else
                    {<p>Fail</p>  }
                    <p>Comment: @ViewBag.comment
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
