<h3>เลือกอ.ที่ปรึกnjjkษา </h3>
<form asp-action="Detail" name="myform" method="POST">
    <div class="form-group">
        <span>ชื่อเรื่องวิจัย</span><input class="form-control" type="text" name="idstudent" value="">
        <span>แบบ ฟอร์ม cs1</span>
        <input class="form-control" type="file" name="file" id="">
        </div>
</form>>
<buttonbutton type="button" class="btn btn-success">Success</button>
